################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/imgui.ini
/.vs
/Debug
/vcpkg_installed
/x64/Debug
/skill3.json
/skill.json
/skill2.json
